body{
    margin:0;
    padding:0;

    font-family:Arial;

    background:#f2f2f2;

    display:flex;
    justify-content:center;

    min-height:100vh;
}

.container{
    width:450px;

    margin-top:40px;

    background:white;

    padding:30px;

    border-radius:15px;

    box-shadow:0 0 10px rgba(0,0,0,0.2);
}

h1{
    text-align:center;
}

input,
textarea{
    width:95%;

    padding:12px;

    margin-top:15px;

    font-size:16px;

    border-radius:10px;
    border:1px solid #ccc;
}

textarea{
    height:120px;

    resize:none;
}

button{
    width:100%;

    margin-top:20px;

    padding:12px;

    font-size:18px;

    border:none;
    border-radius:10px;

    background:#007bff;
    color:white;

    cursor:pointer;
}

button:hover{
    background:#0056b3;
}

.note{
    background:#f8f8f8;

    padding:15px;

    margin-top:20px;

    border-radius:10px;

    position:relative;
}

.note h2{
    margin:0;
    color:#007bff;
}

.delete-btn{
    position:relative;

    top:10px;
    right:10px;

    background:red;
    color:white;

    border:none;

    padding:5px 10px;

    border-radius:5px;

    cursor:pointer;
}